[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "nano/syntax-highlighting"]
	path = nano/syntax-highlighting
	url = https://github.com/scopatz/nanorc.git
[submodule "scripts/log"]
	path = scripts/log
	url = https://github.com/bownie/bashlog
