[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "nano/syntax-highlighting"]
	path = nano/syntax-highlighting
	url = https://github.com/scopatz/nanorc.git
[submodule "scripts/log"]
	path = scripts/log
	url = https://github.com/bownie/bashlog
[submodule "less/lesspipe"]
	path = less/lesspipe
	url = https://github.com/wofr06/lesspipe.git
[submodule "demos/_pipes"]
	path = demos/_pipes
	url = https://github.com/pipeseroni/pipes.sh
[submodule "demos/_pipesx"]
	path = demos/_pipesx
	url = https://github.com/pipeseroni/pipesX.sh.git
[submodule "demos/_rain"]
	path = demos/_rain
	url = https://github.com/lbgists/rain.sh.git
[submodule ".dotbot-plugins/snap"]
	path = .dotbot-plugins/snap
	url = https://github.com/DrDynamic/dotbot-snap.git
[submodule ".dotbot-plugins/aptget"]
	path = .dotbot-plugins/aptget
	url = https://github.com/johnlettman/dotbot-aptget.git
[submodule ".dotbot-plugins/sudo"]
	path = .dotbot-plugins/sudo
	url = https://github.com/johnlettman/dotbot-sudo.git
